:root{
    /* Color */
    --white-color: #fff;
    --black-color: #140a00;
    --blue-color: #045fd4;
    --red-color: #ff0000;
    --grey-dark-color: #909090;
    --grey-light-color: #e0e0e0;

    /* Size */
    --padding: 12px;
    --avatar-size: 36px;

    /* Font Size */
    --font-large: 24px;
    --font-medium: 20px;
    --font-small: 18px;
    --font-micro: 16px;
}

.container{
    flex-direction: column;
}

.main_logo{
    display: flex;
    justify-content: center;
    margin-top: 800px;
}

.logo{
    width: 6rem;
}



.main_button{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.main_button img{
    width: 30rem;
    hover: 
}


/* .main_logo{
    margin: 400px 0 46px;
}

.logo img{
    display: block;
    max-height: 1000px;
    margin: 0 auto;
}

.main_button{
    margin: 500px 0 50px;
}

.button img{
    display: block;
    max-height: 1000px;
} */