<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Main Page</title>
</head>
<body>
    <div class="container">    
        <div class="main_logo">
            <div class="logo">
                <a href="#"><img src="지구로고.svg"></a>
            </div>        
        </div>

        <div class="main_button">
            <button><a href="#"><img src="pic button.svg"></a></button>
        </div>
    </div>
</body>
</html>