body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-display: swap;
  src: local('Pretendard Bold'), url('assets/fonts/Pretendard-Bold.subset.woff2') format('woff2'), url('assets/fonts/Pretendard-Bold.subset.woff') format('woff'), url('assets/fonts/Pretendard-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-display: swap;
  src: local('Pretendard Medium'), url('assets/fonts/Pretendard-Medium.subset.woff2') format('woff2'), url('assets/fonts/Pretendard-Medium.subset.woff') format('woff'), url('assets/fonts/Pretendard-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-display: swap;
  src: local('Pretendard Regular'), url('assets/fonts/Pretendard-Regular.subset.woff2') format('woff2'), url('assets/fonts/Pretendard-Regular.subset.woff') format('woff'), url('assets/fonts/Pretendard-Regular.ttf') format('ttf');
}